.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* min-height: 100vh; */
  background-color: white;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
  color: red;
  font-size: 2em;
}
